.main {
    color: #ffffff !important;
}

.main_bottom {
    height: calc(1189mm * 0.09 - 30mm) !important;
    margin-top: calc(1189mm * (1 - 0.09)) !important;
    border-top: 30mm solid #5faaea !important;
    background-image: none !important;
    background-color: #ffffff !important;
}

#title {
    text-align: center !important;
    padding-bottom: 5px !important;
    background: linear-gradient(to left, #ffffff 1%, #ffffff 20%, #5faaea75 33%, #5faaea 50%, #5faaea75 66%, #ffffff 80%, #ffffff 99%) left bottom #ffffff no-repeat;
    background-size: 100% 5px;
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
    font-size: 90px !important;
    font-weight: bold !important;
}

/*#title {
    display: none;
}

.column.outer > .section > br {
    display: none;
}
*/